@font-face {
    font-family: 'Mono';
    src: url('../fonts/JetBrainsMono-Regular.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Italic.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Light.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-Medium.woff2') format('woff2'),
        url('../fonts/JetBrainsMono-SemiBold.woff2') format('woff2')
}

body {
    font-family: Mono;
    font-weight: 400;
    color: #4e4e4e;
}

/* -- Main Wrapper -- */
.mbs-main__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 720px;
    margin: 6rem auto 2rem auto;
}

@media (max-width: 770px) {
    .mbs-main__wrapper {
        padding: 0 1rem;
    }
}

/* -- Header -- */
.mbs-header__wrapper {
    margin-bottom: 4rem;
}

.mbs-hero__wrapper p {
    line-height: 1.7em;
}

/* -- Logo -- */
.mbs-logo {
    width: 34px;
    height: 34px;
}

/* -- Hero Wrapper -- */
.mbs-hero__wrapper {
    margin-bottom: 4rem;
}

.mbs-hero__heading {
    font-size: 1.5rem;
    line-height: 1.5em;
}

@media (max-width: 440px) {
    .mbs-hero__heading {
        font-size: 1.3rem;
    }
}

/* -- Services -- */
.mbs-services__wrapper {
    margin-bottom: 4rem;
}

.mbs-services__heading {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.mbs-services__items {
    border-left: 1px dashed #e0e0e0;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
}

.mbs-services__items div {
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: 0.8rem;
    padding-bottom: 1.4rem;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.mbs-services__items h4 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        color: #2196f3;
    }
}

.mbs-services__items span {
    font-style: italic;
    font-size: 0.925rem;
    color: #9e9e9e;
}

.mbs-services__items a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 440px) {
    .mbs-services__items {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

/* -- Contact -- */
.mbs-contact__heading {
    margin-bottom: 2rem;
    font-weight: 300;
    font-size: 1.1rem;
}

.mbs-contact__items {
    border-left: 1px dashed #e0e0e0;
    margin-left: 0.5rem;
    padding-left: 1.5rem;
}

.mbs-contact__items div {
    border-bottom: 1px dashed #e0e0e0;
    margin-bottom: 0.8rem;
    padding-bottom: 1.4rem;

    &:last-child {
        border-bottom: 0;
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.mbs-contact__items h4 {
    margin-bottom: 0.25rem;
    font-size: 1rem;
    font-weight: 500;

    &:hover {
        color: #2196f3;
    }
}

.mbs-contact__items span {
    font-style: italic;
    font-size: 0.925rem;
    color: #9e9e9e;
}

.mbs-contact__items a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 440px) {
    .mbs-contact__items {
        border: 0;
        margin: 0;
        padding: 0;
    }
}

/* -- Footer -- */
.mbs-footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 4rem;
    font-size: 0.925rem;
}

.mbs-footer__wrapper a {
    text-decoration: none;
    color: inherit;

    &:hover {
        color: #2196f3;
    }
}

.mbs-footer__top {
    display: flex;
    align-items: center;
}

.mbs-footer__top--col {
    border-right: 1px solid #e0e0e0;
    padding-right: 0.8rem;
    margin-right: 0.5rem;
}

.mbs-footer__top--icon {
    width: 22px;
    height: 22px;
}

@media (max-width: 440px) {
    .mbs-footer__wrapper {
        flex-direction: column;
    }
}
