{% extends 'base.html' %}
{% block title %}Made by Shingen{% endblock %}

{% block content %}
        <main>
            <article>
                <section class="mbs-hero__wrapper">
                    <h1 class="mbs-hero__heading">Made by Shingen / Full-stack Developer & Data Geek</h1>
                    <p>Making things <strong>Simple</strong>, Making things <strong>Useful</strong>, Making things
                        <strong>Impactful</strong>.
                    </p>
                    <p>A tinkerer who loves building things, a fan of minimalism, and someone who enjoys reading, the
                        outdoors, brewing coffee, and watching movies.</p>
                </section>
                <section class="mbs-services__wrapper">
                    <h3 class="mbs-services__heading"><strong>My</strong> Interests</h3>
                    <div class="mbs-services__items">
                        <div>
                            <a href="{{ url_for('zen') }}">
                                <h4>Soto Zen</h4>
                                <span>Inner Dialogue, Thoughts</span>
                            </a>
                        </div>
                        <div>
                            <a href="{{ url_for('coding') }}">
                                <h4>Coding</h4>
                                <span>Experients with pixels & code</span>
                            </a>
                        </div>
                        <div>
                            <a href="{{ url_for('books') }}">
                                <h4>Bookshelf</h4>
                                <span>Stuff I am currently reading</span>
                            </a>
                        </div>
                        <div>
                            <a href="{{ url_for('resources') }}">
                                <h4>Resources</h4>
                                <span>Helpful links for your journey</span>
                            </a>
                        </div>
                    </div>
                </section>
                <section>
                    <h3 class="mbs-contact__heading"><strong>Ways</strong> to Connect</h3>
                    <div class="mbs-contact__items">
                        <div>
                            <a href="/">
                                <h4>Email</h4>
                                <span>Come say {Hello} =]</span>
                            </a>
                        </div>
                        <div>
                            <a href="/">
                                <h4>Photography</h4>
                                <span>Some digital musings</span>
                            </a>
                        </div>
                    </div>
                </section>
            </article>
        </main>
 {% endblock %}
